footer.footer
    a.logo__link.logo__link--footer.hvr-bounce-in(href="#")
        img.logo__img(src="img/logo.png" alt="logo")
    .footer__separator
    .footer__info Производство и доставка арболитовых блоков в Челябинской и Оренбургской области, а также в республике Башкортостан