doctype html
html(lang='ru')
    head
        title Производство и доставка арболитовых блоков
        meta(charset='UTF-8')
        meta(name="description" content='')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="icon" type="image/png" href="img/favicon.png")
        script(type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")

    body
        include header

        block content

        include footer

        //build:css css/vendor.min.css
        link(rel="stylesheet" href="../../src/bower/normalize-css/normalize.css")
        link(rel="stylesheet" href="../../node_modules/jquery.mmenu/dist/jquery.mmenu.css")
        link(rel="stylesheet" href="../../node_modules/jquery.mmenu/dist/extensions/fullscreen/jquery.mmenu.fullscreen.css")
        link(rel="stylesheet" href="../../node_modules/jquery.mmenu/dist/extensions/themes/jquery.mmenu.themes.css")
        link(rel="stylesheet" href="../../node_modules/hamburgers/dist/hamburgers.css")
        //endbuild
        link(rel="stylesheet" href="css/main.min.css")


        //build:js js/vendor.min.js
        script(type="text/javascript" src="../../src/bower/jquery/dist/jquery.js")
        script(type="text/javascript" src="../../src/bower/jquery-migrate/jquery-migrate.js")
        script(type="text/javascript" src="../../src/bower/slick-carousel/slick/slick.js")
        script(type="text/javascript" src="../../node_modules/jquery.mmenu/dist/jquery.mmenu.js")
        //endbuild
        script(src="js/main.min.js")