.building {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  bottom: -91px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  min-width: 320px;
}

a.building__picture {
  padding: 0;
  margin: 0;
  width: 293px;
  height: 183px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  &:hover {
    .building__image {
      filter: grayscale(0);
    }
    .building__title {
      opacity: 0;
    }
  }
}

.building__image {
  width: 100%;
  height: auto;
  filter: grayscale(1);
  transition: filter 1s ease;
}

.building__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 1s ease;
  color: white;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  .building {
    width: 100%;
    position: static;
    flex-direction: row;
    transform: none;
    flex-wrap: wrap;
    padding-top: 15px;
  }
  a.building__picture {
    width: 50%;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .building {
    width: 100%;
    position: static;
    flex-direction: column;
    transform: none;
    align-items: center;
    padding-top: 10px;
    min-width: 320px;
  }
}