.btn {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.80);
  text-decoration: none;
  border-radius: 15px;
  background-color: $color-red;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn--phone {
  font-size: 16px;
  padding: 8px 29px;
  font-weight: 700;
}

.btn--bid {
  padding: 7px 0;
  width: 80%;
  margin-left: 27px;
}

.btn--cost {
  width: 287px;
  display: block;
  margin: 0 auto;
}

.btn--info {
  position: absolute;
  bottom: 102px;
  left: 48%;
  transform: translateX(-48%);
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.btn--production {
  margin-top: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}