.features {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.features-11 {
  width: 58px;
  height: 58px;
  background-position: -5px -5px;
}

.features-12 {
  width: 64px;
  height: 60px;
  background-position: -73px -5px;
}

.features-13 {
  width: 40px;
  height: 56px;
  background-position: -147px -5px;
}

.features-14 {
  width: 66px;
  height: 66px;
  background-position: -197px -5px;
}

.features-15 {
  width: 55px;
  height: 59px;
  background-position: -273px -5px;
}

.features-16 {
  width: 52px;
  height: 58px;
  background-position: -338px -5px;
}
