.header {
  background-color: #171717;
}

.header__wrap {
  width: 1170px;
  margin: 0 auto;
}

.logo {
  margin-top: 19px;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  //justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.nav__link {
  color: #8B8B8B;
  font-size: 16px;
  transition: color .7s ease;

  &:hover {
    color: white;
  }
}

.nav__item {

}

.phone {
  color: #8B8B8B;
  display: flex;
  font-size: 15px;
}

.phone__btn {
  padding-top: 12px;
}

.phone__wide {
  color: white;
  padding-right: 5px;
  text-transform: capitalize;
  font-weight: 700;
}

.phone__normal {
  color: white;
  font-family: "RobotoLight", 'Arial', sans-serif;
}

.phone__item {
  padding-top: 9px;
  padding-right: 13px;
  padding-left: 7px;
  letter-spacing: 1px;
}

.phone__number {
  padding-bottom: 5px;
}

.hamburger {
  display: none;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  .header__wrap {
    width: 100%;
  }
  .phone {
    justify-content: center;
    padding-bottom: 10px;
  }
  .logo {
    margin-bottom: 0;
  }
  .hamburger {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-width: 767px) {
  .hamburger {
    display: block;
    padding: 9px;
  }
  .header__wrap {
    width: 100%;
  }
  .phone {
    font-size: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-around;
  }
  .phone__btn {
    padding-top: 0;
    padding-left: 5px;
  }
  .logo {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  ul.nav__list {
    flex-direction: column;
    padding: 0;
    margin: 0 auto !important;
  }
  a.nav__link, a.mm-title {
    font-size: 22px;
  }
  .phone__item {
    padding: 0;
  }
}