.info {
  background: url(../img/info/background.jpg) center top;
  height: 2942px;
  color: #171717;
}

.info__wrap {
  width: 1170px;
  margin: 0 auto;
  padding-top: 95px;
}

.info__head {
  color: #171717;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 4px;
}

.info__subhead {
  color: #b41f1f;
  font-size: 20px;
  font-weight: 800;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 45px;
}

.info__block {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 68px;
}

.info__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.info__title {
  color: #171717;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.info__subject {
  color: #171717;
  font-size: 17px;
  font-weight: 400;
  text-align: left;
}

.info__digital {
  padding-right: 27px;
  height: 100%;
  width: auto;
}

.info__picture {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 22px;
}

.info__list {
  margin-left: 433px;
  z-index: 1;
}

.info__box--four, .info__box--two {
  padding-left: 2px;
}

.info__head--delivery {
  padding-bottom: 41px;
}

.info__contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info__container {
  position: relative;
}

.info__container--one {
  padding-right: 30px;
}

.info__lead {
  color: #171717;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  position: relative;
  z-index: 10;
  padding-bottom: 7px;
}

.info__truck {
  padding-bottom: 11px;
}

.info_digital {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: -1;
}

.info__delivery {
  position: relative;
  padding-bottom: 92px;
}

.info__head--production {
  padding-bottom: 3px;
}

.info__pict {
  width: 140px;
  height: 111px;
}

.info__bigpicture {
  //background: url(../img/info/digital.png) center top;
  width: 988px;
  height: 387px;
  margin: 0 auto;
  //opacity: 0.5;
  //position: relative;
}

.info__row {
  display: flex;
  flex-direction: row;
  padding-top: 0;
  text-align: center;
  position: relative;
}

.info__row--two {
  padding-top: 30px;
  margin-left: -73px;
}

.info__strip {
  position: absolute;
  //color: $color-red;
  background-color: $color-red;
  height: 5px;
}

.info__strip--one {
  top: 51px;
  left: 327px;
  width: 321px;
}

.info__strip--two {
  top: 51px;
  left: 751px;
  width: 157px;
}

.info__strip--three {
  top: 51px;
  left: 907px;
  width: 5px;
  height: 239px;
}

.info__strip--four {
  top: 81px;
  left: 180px;
  width: 323px;
}

.info__strip--five {
  top: 81px;
  left: 607px;
  width: 326px;
}

.info__section--one {
  width: 266px;
  margin-right: 100px;
  margin-left: 141px;
}

.info__section--two {
  width: 386px;
}

.info__section--three {
  width: 267px;
  margin-right: 159px;
}

.info__section--four {
  width: 276px;
  margin-right: 220px;
}

.info__section--five {
  width: 161px;
}

.info__paragraph--bold {
  font-weight: 700;
}

.info__production {
  padding-bottom: 154px;
}

.info__head--process {
  padding-bottom: 40px;
}

.info__bid {
  padding: 29px 69px 30px 75px;
  background-color: #171717;
  margin-right: 43px;
  float: left;
  margin-top: 42px;
}

.info__bid-head {
  color: #b42020;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.info__bid-subhead {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}

.info__bid-group {
  padding-bottom: 10px;
  margin: 0 auto;
}

.info__slider {
  position: relative;
  margin-bottom: 114px;
}

.info__cont {
  position: relative;
}

.slider__arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 58%;
  cursor: pointer;
}

.slider__arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  cursor: pointer;
}

.slider__pict {
  width: auto;
  height: 286px;
}

.slider__img {
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  border: solid #b42020 1px;
  margin: 0 auto;
}

.info__life {
  position: relative;
}

.info_head--life {
  padding-bottom: 31px;
}

.slid__pict {
  width: auto;
  height: 335px;
}

.slid__arrow-left {
  position: absolute;
  top: 61%;
  left: -3%;
  transform: translateY(-50%);
  cursor: pointer;
}

.slid__arrow-right {
  position: absolute;
  top: 61%;
  right: -3%;
  transform: translateY(-50%);
  cursor: pointer;
}