.manufacture {
  background: url(../img/manufacture/background.jpg) center top;
  height: 1397px;
  position: relative;
}

.manufacture__wrap {
  width: 1170px;
  margin: 0 auto;
}

.manufacture-icon {
  background-image: url(../img/manufacture/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.manufacture-icon-11 {
  width: 58px;
  height: 58px;
  background-position: -5px -5px;
}

.manufacture-icon-12 {
  width: 64px;
  height: 60px;
  background-position: -73px -5px;
}

.manufacture-icon-13 {
  width: 40px;
  height: 56px;
  background-position: -147px -5px;
}

.manufacture-icon-14 {
  width: 66px;
  height: 66px;
  background-position: -197px -5px;
}

.manufacture-icon-15 {
  width: 55px;
  height: 59px;
  background-position: -273px -5px;
}

.manufacture-icon-16 {
  width: 52px;
  height: 58px;
  background-position: -338px -5px;
}