.manufacture {
  background: url(../img/manufacture/background.jpg) center top;
  height: 1397px;
  position: relative;
}

.manufacture__wrap {
  width: 1170px;
  margin: 0 auto;
  min-width: 320px;
}

.manufacture-icon {
  background-image: url(../img/manufacture/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
}

.manufacture-icon-11 {
  width: 58px;
  height: 58px;
  background-position: -5px -5px;
}

.manufacture-icon-12 {
  width: 64px;
  height: 60px;
  background-position: -73px -5px;
}

.manufacture-icon-13 {
  width: 40px;
  height: 56px;
  background-position: -147px -5px;
}

.manufacture-icon-14 {
  width: 66px;
  height: 66px;
  background-position: -197px -5px;
}

.manufacture-icon-15 {
  width: 55px;
  height: 59px;
  background-position: -273px -5px;
}

.manufacture-icon-16 {
  width: 52px;
  height: 58px;
  background-position: -338px -5px;
}

.manufacture__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 163px;
  padding-bottom: 99px;
}

.manufacture__title {
  color: #171717;
  font-size: 18px;
  width: 75%;
  margin: 0 auto;
  padding-top: 12px;
}

.manufacture__container {
  text-align: center;
  padding-bottom: 24px;
  padding-top: 18px;
  border-right: solid #171717 1px;
  border-bottom: solid #171717 1px;
}

.manufacture__container:nth-child(3n+3) {
  border-right: none;
}

.manufacture__container:nth-child(n+4) {
  border-bottom: none;
}

.manufacture__head {
  color: #171717;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 47px;
}

.manufacture__holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.manufacture__item {
  position: relative;
}

.manufacture__text {
  position: absolute;
  top: 0;
  left: 0;
}

.manufacture__text--one {
  padding-top: 18px;
  padding-left: 30px;
}

.manufacture__text--two {
  right: 0;
  left: auto;
  top: auto;
  bottom: 0;
  padding-right: 41px;
  padding-bottom: 18px;
}

.manufacture__subtitle {
  color: #171717;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.manufacture__subtitle--two {
  font-weight: 400;
  width: 60%;
  margin: 0 auto;
}

.manufacture__holder--one {
  flex-direction: column;
}

.manufacture__img04 {
  padding-bottom: 6px;
}

.manufacture__info {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.manufacture__block {
  position: relative;
}

.manufacture__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  .manufacture {
    height: auto;
  }
  .manufacture__wrap {
    width: 100%;
  }
  .manufacture__box {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    margin: 0 auto;
  }
  .manufacture__container:nth-child(3n+3) {
    border-right: solid #171717 1px;
  }
  .manufacture__container:nth-child(n+4) {
    border-bottom: solid #171717 1px;
  }
  .manufacture__container {
    border-bottom: solid #171717 1px;
  }
  .manufacture__holder--one {
    padding-bottom: 40px;
  }
  .manufacture__holder {
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .manufacture {
    height: auto;
  }
  .manufacture__wrap {
    width: 100%;
    min-width: 320px;
  }
  .manufacture__box {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .manufacture__container:nth-child(3n+3) {
    border-right: solid #171717 1px;
  }
  .manufacture__container:nth-child(n+4) {
    border-bottom: solid #171717 1px;
  }
  .manufacture__holder--one {
    padding-bottom: 20px;
  }
  .manufacture__holder {
    flex-direction: column;
  }
}